body {
    font: 0.8em Verdana, Helvetica, Arial, sans-serif;
    background: white;
    color: black;
    margin: 1em;
    padding: 0;
}

body.menu {
  padding: 0;
  margin: 0;
  background: #eae8e3; 
}

body.modulelist {
  padding: 0;
  margin: 0;
  background: #eae8e3; 
}

code, pre, span.pre {
  font-size: 120%;
}

a[href] {
    color: #304D6B;
    font-weight: bold;
}

ul {
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
}

table.menu {
    font-size: 95%;
}

table.menu td.list-item {
    font-weight: bold;
}

div.apihead {
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    padding: 2pt;
    margin-bottom: 3pt;
    color: #f0f0f0;
    background: #990000 url(/++resource++toolbar-background.png) top left repeat-x;
    border-top: 2px #800 solid;
    border-bottom: 2px #700 solid;
}

div.apihead a {
    color: #f0f0f0;
}

div.menu {
    margin: 0;
    padding: 0 1em;
    margin-bottom: 3pt;
    font-weight: bold;
    font-size: small;
    border-bottom: 1px #bab5ab solid;
    background: #d6d6d6;
}

#preference_entry {
    margin-top: 5pt;
    font-style: italic;
}

p.small, div.small {
    font-size: 85%;
    padding: 4pt;
}

span.small {
    font-size: 85%;
}

div.indent {
    margin-left: 1.5em;
}

h1.details-header {
    font-size: 220%;
    font-weight: normal;
    background: #eae8e3; 
    padding: 5px;
    margin-top: 0;
    border-bottom: 1px #bab5ab solid;
}

div.details-subheader {
    font-size: 125%;
    font-weight: normal;
    margin-top: 0;
}

h2.details-section {
    font-size: 150%;
    font-style: italic;
    background: #d6d6d6;
    color: #fff !important;
    background: #7590ae;
    border-top: 1px #bab5ab solid;
    border-bottom: 1px #bab5ab solid;
    padding: 2px 0.5em 2px 0.5em;
}

h3.details-section {
    margin-bottom: 2pt;
    background: #d6d6d6;
    border-top: 1px #bab5ab solid;
    border-bottom: 1px #bab5ab solid;
    padding: 2px 0.5em 2px 0.5em;
}

h4 {
    background: #d6d6d6;
    padding: 3px;
    font-size: 90%;
    font-style: italic;
}

p.breadcrumbs {
    color: #f0f0f0;
    background: #990000 url(/++resource++toolbar-background.png) top left repeat-x;
    border-top: 2px #800 solid;
    border-bottom: 2px #700 solid;
    padding: 2pt;
    padding-left: 1em;
}

p.breadcrumbs a {
    color: #f0f0f0;
}

.important {
    font-size: 120%;
}

.highlight {
    padding: 0.5ex 0.5em  0.1ex 0.5em;
    background: #eeeeee;
}

.highlight p {
    padding: 0pt;
    margin: 0pt;
    padding-bottom: 0.5ex;
}

ul.attr-list li {
    margin-bottom: 0.5ex;
}

/* Styles that are associated with STX-generated HTML */

div.documentation {
}

div.documentation h1 {
  font-size: 120%;
}

div.documentation h2 {
  font-size: 110%;
  font-style: italic;
}

div.documentation h3 {
  font-style: italic;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

div.documentation p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
}

div.documentation ul, ol {
  margin: 0.5em 2em;
}

div.documentation a.reference img {
  border: none;
}


div.inline h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5ex;
}

div.inline h2 {
  margin-bottom: 0.5ex;
}

div.inline h3 {
  margin-bottom: 0.5ex;
}

div.inline p {
  margin: 0;
  margin-bottom: 0.5ex;
}

/* reST markup - based on tools/stylesheets/default.css in the docutils dist */
div.documentation .first {
  margin-top: 0 ! important }

div.documentation .last,
div.documentation .with-subtitle {
  margin-bottom: 0 ! important }

div.documentation .hidden {
  display: none }

div.documentation a.toc-backref {
  text-decoration: none ;
  color: black }

div.documentation blockquote.epigraph {
  margin: 2em 5em ; }

div.documentation dl.docutils dd {
  margin-bottom: 0.5em }

div.documentation div.abstract {
  margin: 2em 5em }

div.documentation div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.documentation div.admonition,
div.documentation div.attention,
div.documentation div.caution,
div.documentation div.danger,
div.documentation div.error,
div.documentation div.hint,
div.documentation div.important,
div.documentation div.note,
div.documentation div.tip,
div.documentation div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.documentation div.admonition p.admonition-title, 
div.documentation div.hint p.admonition-title,
div.documentation div.important p.admonition-title,
div.documentation div.note p.admonition-title,
div.documentation div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.documentation div.attention p.admonition-title,
div.documentation div.caution p.admonition-title,
div.documentation div.danger p.admonition-title,
div.documentation div.error p.admonition-title,
div.documentation div.warning p.admonition-title {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

div.documentation div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.documentation div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.documentation div.figure {
  margin-left: 2em }

div.documentation div.footer,
div.documentation div.header {
  font-size: smaller }

div.documentation div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.documentation div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.documentation div.sidebar {
  margin-left: 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.documentation div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.documentation div.system-messages {
  margin: 5em }

div.documentation div.system-messages h1 {
  color: red }

div.documentation div.system-message {
  border: medium outset ;
  padding: 1em }

div.documentation div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.documentation div.topic {
  margin: 2em }

div.documentation h1.section-subtitle,
div.documentation h2.section-subtitle,
div.documentation h3.section-subtitle,
div.documentation h4.section-subtitle,
div.documentation h5.section-subtitle,
div.documentation h6.section-subtitle {
  margin-top: 0.4em }

div.documentation h1.title {
  text-align: center }

div.documentation h2.subtitle {
  text-align: center }

div.documentation hr.docutils {
  width: 75% }

div.documentation ol.simple,
div.documentation ul.simple {
  margin-bottom: 1em }

div.documentation ol.arabic {
  list-style: decimal }

div.documentation ol.loweralpha {
  list-style: lower-alpha }

div.documentation ol.upperalpha {
  list-style: upper-alpha }

div.documentation ol.lowerroman {
  list-style: lower-roman }

div.documentation ol.upperroman {
  list-style: upper-roman }

div.documentation p.attribution {
  text-align: right ;
  margin-left: 50% }

div.documentation p.caption {
  font-style: italic }

div.documentation p.credits {
  font-style: italic ;
  font-size: smaller }

div.documentation p.label {
  white-space: nowrap }

div.documentation p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

div.documentation p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

div.documentation p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

div.documentation p.topic-title {
  font-weight: bold }

div.documentation pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font-family: serif ;
  font-size: 100% }

div.documentation pre.line-block {
  font-family: serif ;
  font-size: 100% }

div.documentation pre.literal-block,
div.documentation pre.doctest-block {
  margin-left: 2em ;
  margin-right: 2em ;
  background-color: #eeeeee }

div.documentation span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

div.documentation span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

div.documentation span.interpreted {
  font-family: sans-serif }

div.documentation span.option {
  white-space: nowrap }

div.documentation span.pre {
  white-space: pre }

div.documentation span.problematic {
  color: red }

div.documentation span.section-subtitle {
  /* font-size relative to parent (<h#> element) */
  font-size: 80% }

div.documentation table.citation {
  border-left: solid thin gray }

div.documentation table.docinfo {
  margin: 2em 4em }

div.documentation table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

div.documentation table.footnote {
  border-left: solid thin black }

div.documentation table.docutils td,
div.documentation table.docutils th,
div.documentation table.docinfo td,
div.documentation table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

div.documentation table.docutils th.field-name,
div.documentation table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

div.documentation h1 tt.docutils,
div.documentation h2 tt.docutils,
div.documentation h3 tt.docutils,
div.documentation h4 tt.docutils,
div.documentation h5 tt.docutils,
div.documentation h6 tt.docutils {
  font-size: 100% }

div.documentation tt.docutils {
  background-color: #eeeeee }

div.documentation ul.auto-toc {
  list-style-type: none }

/* Styles for ZCML markup */

code.zcml a {
  color: inherit;
  font-style: italic;
}

code.zcml .attribute {
  color: MediumVioletRed;
}

code.zcml .tagname {
  color: blue;
  font-weight: bold;
}

code.zcml .objectref {
  color: DarkSalmon;
}

b.required {
  color: red;
}

b.optional { 
}
