/*

  Colors style sheet

    - General elements
    - Main containers
    - Header
    - Page
    - Form
    - Table
    - Batching
    - jQuery overrides
    - Gradebook
    - Timetable
    - Calendar

*/

@media all {

/*

  General elements:

    - body
    - a (links)

*/

body {
    background-color: #ffffff;
    color: #333333;
}

a, a:link, a:visited, a:active {
    color: #005c61;
}

/*

  Main containers:

    - header
    - page
    - footer

*/

.schooltool > .header {
    background-color: #ffffff;
}

.schooltool > .page {
    background-color: #ffffff;
}

.schooltool > .footer > p {
    color: #aea79f;
}

/*

  Header:

    - brand ('school' + 'tool' + logo)
    - navigation (main tabs)
    - breadcrumbs (absolute positioned on the second-nav)
    - second-nav (breadcrumbs + login information)

 */

.header > h1.brand {
    color: #ffffff;
}

.header > h1.brand > .school {
    color: #dbe2de;
}

.header > h1.brand > .tool {
    color: #ffffff;
}

.header ul.navigation {
    background-color: #008c93;
}

.header ul.navigation li a {
    color: #ffffff;
}

.header ul.navigation li a:hover {
    background: #026b6e;
    color: #ffffff;
}

.header ul.navigation li.active a {
    background: #026b6e;
    color: #ffffff;
}

.header ul.breadcrumbs li {
    background: none;
    color: #ffffff;
}

.header ul.breadcrumbs > li a:hover {
    background: none;
}

.header ul.breadcrumbs a {
    color: #ffffff;
}

.header ul.second-nav {
    background-color: #485454;
}

.header ul.second-nav > li {
    background: none;
}

.header ul.second-nav > li a,
.header ul.second-nav > li span {
    color: #ffffff;
}

.header ul.second-nav > li.active a,
.header ul.second-nav > li a:hover {
    background: none;
}

.header ul.second-nav > li.active a {
    color: #ffffff;
}

/*

  Page:

    - header
      + title (h1)
      + subtitle (h2)
    - third-nav (school year/activity/period tabs)
    - body
      + sidebars
      + container (content area)

*/

.page > .header h2 {
    color: #aea79f;
}

.page > .third-nav {
    background-color: #f7f7f7;
    border-bottom: 1px solid #D9D9D9;
}

.page .third-nav > li {
    background: transparent url(subnav_divider.png) no-repeat scroll right bottom;
}

.page .third-nav > li a,
.page .third-nav > li span {
    color: #3c4342;
}

.page .third-nav > li.active a,
.page .third-nav > li a:hover {
    background: transparent url(subnav_active_bg.png) repeat left 1px;
}

.page ul.third-nav > li.active a,
.page .third-nav > li a:hover {
    color: #005c61;
}

.page > .body {
    background-color: #ffffff;
}

.page > .body > .sidebar {
    background-color: #f7f7f7;
}

.page > .body > .container {
    background-color: #f7f7f7;
}

.page > .body > .sidebar > .content > .header {
    border-bottom: 1px dotted #00abb3;
    color: #333333;
}

.page > .body > .sidebar > .content > .body > ul.filter > li.active > a {
    color: #00abb3;
}

/*

  Form:

    - count (absolute positioned on the fieldset of search boxes)
    - fieldset legends
    - fielset rows:
      + label
      + hint
      + widget
    - required information
    - buttons

*/

form > .count {
    color: #ffffff;
}

form fieldset {
    background-color: #e6e5e5;
}

form fieldset > legend > span,
.fieldset-legend {
    background-color: #485454;
    color: #ffffff;
}

form fieldset .row .label {
    color: #000000;
}

form fieldset .row .hint {
    color: #000000;
}

form fieldset .row > .error .error {
    background: transparent url(error-icon.png) no-repeat scroll top left;
    color: #00ABB3;
}

form fieldset .row .widget input.text-widget,
form fieldset .row .widget input[type="text"],
form fieldset .row .widget input.password-widget,
form fieldset .row .widget input[type="password"] {
    background-color: #ffffff;
    border: 1px solid #ccc1c1;
    color: #333333;
}

form fieldset .row .widget input.text-widget:focus,
form fieldset .row .widget input[type="text"]:focus,
form fieldset .row .widget input.password-widget:focus,
form fieldset .row .widget input[type="password"]:focus,
form fieldset .row .widget input[type="text"].error,
form fieldset .row .widget input[type="password"].error {
    border: 2px solid #00abb3;
}

form fieldset .row .widget textarea.textarea-widget {
    background-color: #ffffff;
    border: 1px solid #ccc1c1;
    color: #333333;
}

form fieldset .row .widget textarea.textarea-widget:focus,
form fieldset .row .widget textarea.error {
    border: 2px solid #00abb3;
}

form fieldset .row .widget .option {
    color: #333333;
}

form .buttons .button-ok:hover,
form .buttons .button-neutral:hover,
form .buttons .button-cancel:hover {
    background-color: #00abb3;
}

form .buttons .button-ok:active,
form .buttons .button-neutral:active,
form .buttons .button-cancel:active {
    background-color: #005355;
}

form .buttons .button-ok,
form .buttons .button-neutral,
form .buttons .button-cancel {
    background-color: #aea79f;
    color: #ffffff;
}

form .required-info {
    color: #ffffff;
}

form span.required {
    color: #00abb3;
}

form pre.csv-text {
    border-left: 1px dotted #888;
}

/*

  Table:

    - table header
      + headers
    - table body
      + headers
      + rows
    - custom tables

*/

thead {
    background-color: #6c7b7c;
    border-bottom: 0;
}

th {
    color: #ffffff;
}

tbody {
    border-top: 1px solid #aea79f;
}

tbody th {
    background-color: #dfdcd9;
    color: #333333;
}

tbody tr {
    border-bottom: 1px dotted #cccccc;
}

table.relationships-table tbody tr:hover,
table.highlight-rows tbody tr:hover {
    background-color: #dfdcd9;
}

table.schooldaymodel tbody th {
    background: none;
}

table.schooldaymodel tbody th.month {
    background: #dfdcd9;
}

table.schooldaymodel tbody td.schoolday {
    background: #efefef;
}

table.schoolday-legend td.schoolday {
    background: #efefef;
}

/*

  Batching

*/

.batch-navigation {
    background-color: #DFDCD9;
}

/*

  jQuery overrides:

    - accordion
      + state-hover
      + state-active
    - dialog

*/

.ui-accordion-header {
    background-color: #485454;
    background-image: none;
    color: #ffffff;
    border: 1px solid #485454;
}

.ui-state-hover {
    border: 1px solid #008c93;
    background-color: #008c93;
}

.ui-state-active {
    background-color: #008c93;
    border: none;
}

.ui-accordion .ui-accordion-content {
    background: none;
}

.ui-dialog .ui-dialog-content form fieldset {
    background-color: #ffffff;
}

.ui-dialog .ui-dialog-titlebar {
    background: #00abb3;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    color: #ffffff;
}

/*

  Gradebook:

    - table headers
    - odd table rows
    - popup menu

*/

.grid-form th {
    color: #333333;
}

.gradebook-part thead {
    background-color: #e7e4e2;
}

.gradebook-part tbody tr.odd {
    background-color: #f0efee;
}

.students th, .students td {
    border-right: 1px solid #cccccc;
}

.grades th, .grades td {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.grades input[type="text"] {
    background: transparent;
}

.grades input[type="text"]:focus {
    border: 1px solid #cccccc;
}

.totals th, .totals td {
    border-left: 1px solid #cccccc;
}

th.activity-title {
    border-bottom: 1px solid #cccccc;
}

.popup_menu li {
    background-color: #EEEEEE;
    border-bottom: solid 1px #808080;
}

/*

  Timetable:

*/

table.timetable tbody td {
    border-left: 1px dotted #cccccc;
    border-right: 1px dotted #cccccc;
}

table.timetable td .inactive {
    color: #aaa;
}

form fieldset table.timetable {
    background-color: #f7f7f7;
}

form fieldset table.timetable td.error {
    background: transparent url(error-icon.png) no-repeat scroll 8px 10px;
}

/*

  Calendar:

*/

#calendar-view-year TABLE.month,
.page .refine .calendar-month TABLE.month,
#calendar-view-month {
    background: #eae8e3;
    border: 1px #000000 solid;
}

.page .refine .calendar-month TABLE.month TH,
#calendar-view-month TH,
#calendar-view-month TD.weekno {
    color: #ffffff;
    background: #aea79f;
}

#calendar-view-year TABLE.month TH month-weekday{
    color: #ffffff;
    background: #dfdcd9;
}

.page .refine .calendar-month TABLE.month TH A {
    color: #ffffff;
}

#calendar-view-month TD.weekno {
    border-right: 2px #000000 solid;
    border-bottom: 1px #000000 solid;
}

#calendar-view-year TABLE.month TH.month-weekday,
#calendar-view-month TH.weekday {
    border-bottom: 1px #000000 solid;
}

a.cal_yearly_day_busy {
    background: #aea79f;
    color: #ffffff;
}

#calendar-view-year TABLE.month TH.month-title A {
    color: #f0f0f0;
    background: #aea79f;
}

#calendar-view-month TH.month-title {
    color: #f0f0f0;
    background: #000000;
}

#calendar-view-year TABLE.month TD A:hover,
.page .refine .calendar-month TABLE.month TD A:hover {
    color: #ffffff;
    background: #000000;
}

#calendar-view-month TD.day A:hover,
#calendar-view-month TD.day-other A:hover {
    color: #ffffff;
    background: #aea79f;
}

#calendar-view-month TD.day,
.page .refine .calendar-month TABLE.month TD {
    border-right: 1px #bab5ab solid;
    border-bottom: 1px #bab5ab solid;
}

#calendar-view-month TD.weekno A {
    color: #ffffff;
}

#calendar-view-month TD.day-other {
    background: #bab5ab;
}

#calendar-view-month TD.day-other A {
    color: #807d74;
}

#calendar-view-month .event,
#calendar-view-month .comp_event {
    border: 1px #eae8e3 solid;
}

#calendar-view-month A:hover .event,
#calendar-view-month A:hover .comp_event {
    color: #000;
    border: 1px #314e6c solid;
}

#calendar-view-month .event {
    background: #DFDCD9;
}

#calendar-view-month .comp_event {
    background: #e0b6af;
}

#calendar-view-week {
    border-top: 2px #000000 solid;
}

#calendar-view-week TD {
    background: #eae8e3;
}

#calendar-view-week TH {
    border-right: 1px #000000 solid;
}

#calendar-view-week TH.first {
    border-left: 1px #000000 solid;
}

#calendar-view-week TH.day-title {
    background: #aea79f;
    border-bottom: 1px #000000 solid;
}

#calendar-view-week TH A {
    color: #ffffff;
}

#calendar-view-week TD {
    border-right: 1px #bab5ab solid;
    border-bottom: 2px #bab5ab solid;
}

#calendar-view-week TD.first {
    border-left: 2px #bab5ab solid;
}

#calendar-view-week TD A {
    border: 1px solid;
}

#calendar-view-day {
    border: #aaaaaa 1px solid;
}

#events-allday .event-allday A.delete {
    border: 0;
}

#calendar-view-day .hour {
    border-top: 1px #bab5ab solid;
}

#calendar-view-day .even {
    background: #eae8e3;
}

#calendar-view-day .active {
    background: #a8a5a0;
}

#calendar-view-day .event {
    border: 1px #000000 solid;
    background: #DFDCD9;
    opacity: 0.85;
}

#calendar-view-day .expanded {
    opacity: 1;
}

#calendar-view-day .other {
    background: #e0b6af;
    border: 1px #884631 solid;
}

#calendar-view-day .event H6 {
    background: #7590ae;
    opacity: 1 !important;
}

#calendar-view-day .other H6 {
    background: #c1665a;
}

#calendar-view-day .event H6 A {
    color: #fff;
}

#calendar-view-day .event H6 .start-end {
    color: #000;
}

#calendar-view-day .event A.delete {
    border: 0;
}

#calendar-view-day .event .booked-resources {
    border: 1px;
}

#calendar-view-day .event .booked-resources-header A {
    color: #000;
}

.page .refine .calendar-overlay table tbody {
    border: 0 none;
}

}
