/*

  Base CSS:

  - body
  - fonts, font sizes
  - header, page and footer layout

*/

@media all {

/* General elements */

body {
    background: #ffffff url(bg_dotted.png) repeat scroll 0 0;
    color: #333333;
    font-family: 'Ubuntubeta', 'Ubuntu', 'Bitstream Vera Sans',
                 'DejaVu Sans', Tahoma, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}


h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4, h5, h6 {
    font-size: 12px;
    line-height: 20px;
}

p {
    margin-bottom: 8px;
}

a, a:link, a:visited, a:hover, a:active {
    color: #dd4814;
}

p.small {
    font-size: 10px;
    line-height: 14px;
}

pre {
    overflow: auto;
}

/* Layout */

.schooltool > .header,
.schooltool > .page,
.schooltool > .footer {
    width: 976px;
    margin: 0 auto;
    position: relative;
}

.schooltool > .header {
    background-color: #ffffff;
}

.schooltool > .page {
    background-color: #ffffff;
    padding-bottom: 64px;
}

.schooltool > .footer {
    background-color: #f7f7f7;
    clear: both;
    padding-bottom: 16px;
}

.schooltool > .footer > p {
    color: #aea79f;
    font-size: 10px;
    line-height: 14px;
    padding: 4px 16px;
}

/* Header - main navigation, second navigation, headinfo, breadcrumbs*/

.header > h1.brand {
    color: #ffffff;
    font-size: 36px;
    line-height: 40px;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
}

.header ul.navigation {
    background-color: #aa0000;
    height: 64px;
    padding-left: 16px;
    position: relative;

    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

.header ul.navigation li {
    display: block;
    float: left;
    padding: 0 1px;
}

.header ul.navigation li a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 24px 8px;
    text-decoration: none;
}

.header ul.navigation li a:hover {
    background: #540000;
}

.header ul.navigation li.active a {
    background: #540000;
}

.header ul.second-nav {
    background-color: #f7f7f7;
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;

    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

.header ul.second-nav li {
    background: transparent url(subnav_divider.png) no-repeat scroll right bottom;
    display: block;
    float: left;
}

.header ul.second-nav li:first-child {
    border-left: medium none;
}

.header ul.second-nav li a {
    color: #333333;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-left: -1px;
    padding: 12px 8px;
    text-decoration: none;
}

.header ul.second-nav li.active a,
.header ul.second-nav li a:hover {
    background: transparent url(subnav_active_bg.png) repeat left 1px;
}

.header ul.second-nav li.active a {
    color: #dd4814;
}
