/*

  Form CSS:

  - fieldset
  - rows: labels, widgets

*/

form {
    margin-top: 16px;
    position: relative;
}

form > .count {
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}

form fieldset {
    background-color: #dfdcd9;
    margin-bottom: 16px;
    padding-top: 32px;
    padding-bottom: 8px;
    position: relative;
}

form fieldset > legend {
    position: absolute;
}

form fieldset > legend > span {
    background-color: #aea79f;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
    position: absolute;
    top: -32px;
}

form fieldset > legend > span {
    width: 528px;
}

.widecontainer form fieldset > legend > span {
    width: 720px;
}

form fieldset .row {
    padding: 8px 8px 0px 8px;
}

form fieldset .row .label {
    margin-bottom: 4px;
}

form fieldset .row .label span {
    font-size: 12px;
}

form fieldset .row .hint {
    margin-top: -2px;
    margin-bottom: 0px;
    font-size: 10px;
    line-height: 14px;
    color: #333333;
    padding-bottom: 4px;
}

form fieldset .row .widget {
    display: inline;
}

form fieldset .row > .error {
    display: block;
    float: right;
    width: 222px;
}

form fieldset .row > .error .error {
    color: #AA0000;
    font-size: 12px;
    padding-left: 16px;
    background: transparent url(error-icon.png) no-repeat scroll top left;
}

form fieldset .row .widget input.text-widget,
form fieldset .row .widget input[type="text"],
form fieldset .row .widget input.password-widget,
form fieldset .row .widget input[type="password"] {
    background-color: #ffffff;
    border: 1px solid #ccc1c1;
    color: #333333;
    font-size: 12px;
    height: 20px;
    width: 286px;
}

form fieldset .row .widget input.text-widget:focus,
form fieldset .row .widget input[type="text"]:focus,
form fieldset .row .widget input.password-widget:focus,
form fieldset .row .widget input[type="password"]:focus,
form fieldset .row .widget input[type="text"].error,
form fieldset .row .widget input[type="password"].error {
    border: 2px solid #aa0000;
    height: 18px;
    width: 284px;
}

form fieldset .row .widget span.text-widget,
form fieldset .row .widget span.textarea-widget {
    font-size: 12px;
    line-height: 16px;
}

form fieldset .row .widget select.select-widget {
    width: 288px;
}

form fieldset .row .widget textarea.textarea-widget {
    background-color: #ffffff;
    border: 1px solid #ccc1c1;
    color: #333333;
    font-size: 12px;
    height: 50px;
    width: 286px;
}

form fieldset .row .widget textarea.textarea-widget:focus,
form fieldset .row .widget textarea.error {
    border: 2px solid #aa0000;
    height: 48px;
    width: 284px;
}

form fieldset .row .widget .option {
    color: #333333;
    display: block;
    font-size: 12px;
    line-height: 16px;
}

form fieldset .row .widget .option label {
}

form .buttons,
form .controls {
    margin-top: -8px;
    margin-bottom: 16px;
}

form .buttons .submit-widget {
    background-color: #aea79f;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

form .buttons .submit-widget:hover,
form .buttons .button-ok:hover,
form .buttons .button-neutral:hover,
form .buttons .button-cancel:hover {
    background-color: #aa0000;
}

form .buttons .submit-widget:active,
form .buttons .button-ok:active,
form .buttons .button-neutral:active,
form .buttons .button-cancel:active {
    background-color: #540000;
}

form .buttons .button-ok,
form .buttons .button-neutral,
form .buttons .button-cancel {
    background-color: #aea79f;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

.status > .summary {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    padding: 4px 8px;
}

.status > .summary .ui-icon {
    float: left;
    margin-right: 2px;
}

form .status > .errors {
    display: none;
}

form .required-info {
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}

.status ~ .required-info {
    top: 42px;
}

form span.required {
    color: #aa0000;
}
