/* Layout */

.schooltool > .grid {
    padding-top: 36px;
}

.schooltool > .grid:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

.grid > .third-nav {
    left: 208px;
    position: absolute;
    overflow: auto;
}

.grid > .body {
    overflow: visible;
}

.grid > .body > .container {
    margin-top: 32px;
}

.grid > .body > .widecontainer {
    padding: 0px;
    width: 752px;
}

/* Grid form */

.grid-form {
    margin-top: 0px;
}

/* Gradebook parts */

.gradebook {
    width: 752px;
    margin-bottom: 8px;
}

.gradebook-part table {
    border-collapse: collapse;
    margin-top: 0px;
    table-layout: fixed;
    width: 100%;
}

.gradebook-part th, .gradebook-part td {
    font-size: 10px;
    font-weight: normal;
    padding: 0px;
    vertical-align: middle;
}

.gradebook-part th {
    border-bottom-width: 1px;
    border-style: solid;
}

.gradebook-part thead tr {
    height: 18px;
}

.gradebook-part tbody tr {
    height: 22px;
}

.gradebook-part input[type="text"] {
    border: 0px;
    font-size: 10px;
    height: 18px;
    width: 100%;
}

.gradebook-part input[type="text"]:focus {
    outline-style: none;
    background-color: yellow;
}

.students {
    position: absolute;
    top: 0;
    width: 178px;
    z-index: 1;
}

.students th {
    text-align: right;
}

.students th.name {
    text-align: left;
    width: 110px;
}

.students th, .students td {
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}

.grades {
    overflow: auto;
}

.grades thead th, .grades tbody td {
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    width: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.totals {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 0px;
}

.totals thead tr {
    height: 36px;
}

.totals th, .totals td {
    border-left-width: 1px;
    border-left-style: solid;
    width: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Controls */

.grid-form .gradebook-controls {
    clear: both;
}

.grid-form .gradebook-controls .buttons {
    float: left;
    margin-top: 0px;
}

.grid-form .gradebook-controls .zoom-buttons {
    float: right;
}

.grades .placeholder {
    width: 100%;
}

/* Popup menus */

.popup_menu {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
}

.popup_menu li {
    display: block;
}

.popup_menu > li > span {
    font-weight: bold;
}

.popup_menu a,
.popup_menu span {
    padding: 3px 10px 3px 10px;
    display: block;
}

.popup_menu .hover_menu span:before {
    content: "\00BB \0020";
}

.popup_menu span.hover_link {
    font-weight: bold;
}

.popup_menu .hover_menu a {
    padding-left: 20px;
}

/* Section/Term/Year navigation */

.navigator {
    width: 140px;
}

.activity-description {
    display: none;
}
