/*

  Page CSS:

  - header (title)
  - refine, container and related content columns

*/

@media all {

/* Header */

.page > .header {
    padding: 24px;
}

.page > .header h1,
.page > .header h2 {
    display: inline-block;
    vertical-align: top;
}

.page > .header h1 {
    font-size: 36px;
    line-height: 40px;
    margin-right: 16px;
}

.page > .header h2 {
    color: #aea79f;
    font-size: 36px;
    line-height: 40px;
    margin: 0px;
}

/* Tertiary navigation */

.page > .third-nav {
    background-color: #f7f7f7;
    border-bottom: 1px solid #D9D9D9;
    float: right;
    height: 40px;
    margin-right: 16px;
    position: relative;
    width: 752px;

    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

.page .third-nav > li {
    background: transparent url(subnav_divider.png) no-repeat scroll right bottom;
    display: inline-block;
    margin-left: -4px;
}

.page .third-nav > li:first-child {
    margin-left: 0px;
}

.page .third-nav > li a,
.page .third-nav > li span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 8px;
    text-decoration: none;
}

.page .third-nav > li.active a,
.page .third-nav > li a:hover {
    background: transparent url(subnav_active_bg.png) repeat left 1px;
}

.page .third-nav > li:first-child a:hover {
    -moz-border-radius: 4px 0px 0px 0px;
    border-radius: 4px 0px 0px 0px;
}

.page ul.third-nav > li.active a {
    color: #aa0000;
}

/* Page layout */

.page > .body {
    background-color: #ffffff;
    margin: 0px auto;
    overflow: auto;
    width: 944px;
}

.page > .body > .refine {
    display: block;
    float: left;
    width: 144px;
    background-color: #f7f7f7;
    padding: 32px 16px 0px 16px;
}

.page > .body > .container {
    display: block;
    float: right;
    width: 544px;
    background-color: #f7f7f7;
    padding: 16px 192px 16px 16px;
}

/* Refine */

.page > .body > .refine > .content {
    margin-bottom: 16px;
}

.page > .body > .refine > .content > .header {
    color: #333333;
    border-bottom: 1px dotted #aa0000;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.page > .body > .refine > .content > .body > ul.filter {
    margin-left: 8px;
}

.page > .body > .refine > .content > .body > ul.filter > li {
    padding-bottom: 2px;
}

.page > .body > .refine > .content > .body > ul.filter > li.active {
    font-size: 12px;
    line-height: 16px;
}

.page > .body > .refine > .content > .body > ul.filter > li > a {
    font-size: 12px;
    line-height: 16px;
}

.page > .body > .refine > .content > .body > ul.filter > li.active > a {
    color: #aa0000;
}
