/*

  Table CSS:

*/

table {
    width: 100%;
}

.zc-table-sortable {
    cursor: pointer;
}

td, th {
    text-align: left;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
}

th {
    color: #ffffff;
    font-weight: bold;
}

thead {
    background-color: #aea79f;
    border-bottom: 0;
}

tbody {
    border-top: 1px solid #aea79f;
}

tbody tr {
    border-bottom: 1px dotted #cccccc;
}

tbody th {
    background-color: #dfdcd9;
    color: #333333;
    font-weight: normal;
}

table.person-view-sections th {
    width: 33%;
}

table.person-view-demographics .label {
    width: 33%;
}

table.groups-table th.title,
table.groups-table th.schoolyear {
    width: 40%;
}

table.groups-table th.action {
    width: 20%;
}

table.persons-table th.last_name,
table.persons-table th.first_name {
    width: 40%;
}

table.persons-table th.action {
    width: 20%;
}

table.groups-table input[type="image"],
table.persons-table input[type="image"] {
    vertical-align: middle;
}

table.groups-table tbody tr:hover ,
table.persons-table tbody tr:hover {
    background-color: #DFDCD9;
}
