.attendance-alert {background-color: #ff8080;}
.attendance-explained {background-color: #80ff80;}
.attendance-absent {background-color: #ffff80;}
.attendance-present {background-color: #cccccc;}
.attendance-clear {}
