[buildout]
extends = base.cfg
parts += docs
develop = .

[package]
eggs = schooltool

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = schooltool [docs]
build-dir = ${buildout:directory}/docs
default.css =
layout.html =
