recursive-include src *.zcml
recursive-include src *.js
recursive-include src *.pt
recursive-include src *.css
recursive-include src *.po
recursive-include src *.mo
recursive-include src *.txt
recursive-include src *.png
recursive-include src *.gif
recursive-include src *.ico
include version.txt
include version.txt.in
