# Top level directory
include README.txt
include RELEASE.txt
include GPL.txt
include Makefile
include MANIFEST
include test.py
include schooltool.conf.in
include ftesting.zcml
include schooltool-server.py
include rest-client.py
include remove-stale-bytecode.py

# scripts
include scripts/schooltool
include scripts/schooltool-rest-client

# Data files installed in the setup.py
# If you modify this, also modify the regex in setup.py
recursive-include src/schooltool *.pt *.js *.png *.gif *.css *.mo
recursive-include src/schooltool *.rng *.xml *.zcml *.pot *.po

# Miscellaneous other data files (mostly for testing - yes *.py is right!)
recursive-include src/schooltool *.ics *.py *.txt *.conf
recursive-include doc *.txt *.rst
include images/schooltool_zebra.svg

# The schoolbell module
recursive-include src/schoolbell *

# Some things that we should not let into a distribution
# RCS stuff is handled internally by distutils
# NOTE: it is important that this is last
global-exclude *.mo *.so *.pyo *.pyc *.pyd
