/*
 * Stylesheet for SchoolTool
 *
 * Layout and positioning
 *
 */

body {
    margin: 0;
}

#footer {
    width: 70%;
    padding: 1em 15%;
    margin-top: 2em;
    margin-bottom: 1em;
}

#columns {
    margin-bottom: 1em;
}

.clearer {
    clear: both;
    margin-top: 2em;
}

ul {
    padding-left: 2em;
}

form.standalone {
    width: 40em;
    margin: auto;
}

form.standalone fieldset {
    margin: 1em;
}

form.standalone h3 {
    margin: 0;
    padding: 0.25em;
}

form.standalone .row {
    margin: 0.5em 0em;
}

form.standalone > .row {
    margin: 0.5em;
}

form.standalone .controls {
    margin: 0.5em 1em 1em 1em;
}

#header {
}

#header .logo img {
    float: left;
}

#header .logo {
    height: 30px;
    padding: 10px;
    vertical-align: middle;
}

#header .logo h1 {
    margin: 0;
}

#header .tools {
    text-align: right;
    padding: 2px 1ex;
}

#header .breadcrumbs {
    float: left;
}

#column-left {
    float: left;
    width: 14em;
    margin-bottom: 5em;
}

#column-center {
    margin-left: 14em;
}

#footer {
    text-align: center;
    clear: both;
}

/* Calendar Views */
#calendar-view-year {
    text-align: center;
    margin: auto;
}
