BODY {
    font-family: Verdana, Helvetica, Arial, Sans-Serif;
    background: #fff;
    color: #000;
    min-width: 300px;
}

table.header {
    width: 100%;
    background: #990000 url(++resource++toolbar-background.png) top left repeat-x;
}

td.title {
    color: white;
    font-size: 85%;
    font-weight: bold;
}

td.close {
    text-align: right;
    padding-right: 4px;
}

div.content {
    padding: 0.7em;
}
