/* Stylesheet for SchoolTool */
body {
  margin: 0;
}

h1, h2, h3, h4 {
  /* color: #44d344; */
  color: 800000;
  margin-top: 15px;
}

h2 {
  margin: 1ex 0 0.5ex 0;
}

div.login {
  position: absolute;
  right: 1ex;
  top: 1ex;
  color: #888888;
}

form {
  padding: 1ex;
  background: #e2e2e2; /* #ffffd3; */
  border: 1px solid #b34848;
  float: left;
}

label {
  display: block;
  width: 7em;
  float: left;
  font-weight: bold;
  color: black;
}
label.wide {
  width: 12em;
}

div.info {
  margin: 0ex 0ex 2ex 0ex;
  font-weight: bold;
  color: green;
}
div.error {
  margin: 0ex 0ex 2ex 0ex;
  font-weight: bold;
  color: red;
}
div.row {
  margin: 1ex 0ex;
}

div.buttons {
  margin: 2ex 0ex 0ex 0ex;
}

input.button {
  border: 1px solid #b34848;
  background: #b0b0b0;
  color: black;
  font-weight: bold;
  padding: 2px 4px;
}

input.button:hover {
  background: #dedede;
  color: black;
}

input.field {
  border: 1px solid #b34848;
  background: white;
  color: black;
  padding: 2px 4px;
}

div.members {
  background: #aee5ac;
  border: 1px solid #036d00;
  padding: 1ex;
  margin: 1ex 1em;
  float: left;
}

div.parentgroups {
  background: #e2e2e2;
  border: 1px solid #b34848;
  padding: 1ex;
  margin: 1ex 1em;
  float: left;
}

div.groups {
  background: #e2e2e2;
  border: 1px solid #b34848;
  padding: 1ex;
  margin: 1ex 1em;
  float: right;
}

div.members h3,
div.groups h3,
div.parentgroups h3 {
  color: black;
  margin: 0px;
  margin-bottom: 0.5ex;
}

div.members p,
div.groups p,
div.parentgroups p {
  margin: 0 0 0.5ex 0;
}

pre.traceback {
/*
  padding: 1ex;
  background: #eeeeee;
  border: 1px solid #bbbbbb;
 */
  color: #444444;
  font-size: small;
}

pre.traceback span.filename {
  color: blue;
}
pre.traceback span.lineno,
pre.traceback span.column {
  color: red;
}
pre.traceback span.method {
  color: green;
}
pre.traceback span.expr {
  color: green;
}
pre.traceback span.source {
  color: black;
}

div.actions {
  margin: 1ex 2ex 2ex 2ex;
}

a.action:link,
a.action:visited {
  border: 1px solid #b34848;
  background: #e2e2e2;
  color: black;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: none
}

a.action:hover,
a.action:active {
  background: #dedede;
  color: black;
  text-decoration: none
}

span.accountenabled {
  color: green;
}
span.accountdisabled {
  color: red;
}

div.logo {
  float: left;
  margin: 1ex;
  margin-right: 1em;
}

div.header {
  border: 1px solid white;
  border-bottom: 1px solid brown;
}

div.content {
  clear: both;
  margin: 4ex 2em 4ex 2em;
}
