/* Stylesheet for SchoolTool */

h1 {
  color: #44d344;
}

form {
  padding: 1ex;
  background: #ffffd3;
  border: 1px solid #adab54;
  float: left;
}

label {
  display: block;
  width: 7em;
  float: left;
  font-weight: bold;
  color: #444422;
}

div.error {
  margin: 0ex 0ex 2ex 0ex;
  font-weight: bold;
  color: red;
}
div.row {
  margin: 1ex 0ex;
}

div.buttons {
  margin: 2ex 0ex 0ex 0ex;
}

input.button {
  border: 1px solid #cccc88;
  background: #ffffd3;
  color: #888844;
  font-weight: bold;
  padding: 2px 4px;
}

input.button:hover {
  background: white;
  color: black;
}

div.subgroups {
  background: #aee5ac;
  border: 1px solid #036d00;
  padding: 1ex;
  margin: 1ex 1em;
  float: left;
}

div.members {
  background: #acb8e5;
  border: 1px solid #052082;
  padding: 1ex;
  margin: 1ex 1em;
  float: left;
}

div.parentgroups {
  background: #ffc5c4;
  border: 1px solid #af0200;
  padding: 1ex;
  margin: 1ex 1em;
  float: left;
}
