Source: schoolbell
Priority: extra
Maintainer: Brian Sutherland <jinty@web.de>
Build-Depends: debhelper (>= 4.1.16), python, python2.3-dev (>= 2.3.2)
Standards-Version: 3.6.1

Package: schoolbell
Section: misc
Architecture: all
Depends: ${python:Depends}, ssl-cert, openssl, libschoolbell (= ${Source-Version}), ${misc:Depends}
Description: web server for co-ordinating schedules, timetables and calendars
 A calendaring server which can be used as a standalone server or a Zope 3
 component. This server allows for people and resources to have individual and
 group calendars.
 .
 The calendars are:
  * Shareable
  * Overlayable
  * Access controllable
  * Importable and exportable to iCal clients
    (e.g. Apple's iCal or Mozilla Sunbird)
 .
 And will:
  * Time zone aware
  * Provide resource rooking
  * Do anything else that makes sense
 .
 All of this is accessible through a web interface which is simple,
 powerful and beautiful.
 .
 For developers SchoolBell offers:
  * Re-usable calendaring Zope 3 components.
  * iCal parser.
  * Rigourous functional and unit testing.
 .
 Enjoy!
 .
 This package contains the configuration and the binaries to run a standalone
 SchoolBell server.
 .
 Homepage: http://www.schooltool.org/schoolbell

Package: libschoolbell
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python2.3-xml, python2.3-imaging, python2.3-docutils, ${misc:Depends}
Description: web server for co-ordinating schedules, timetables and calendars
 A calendaring server which can be used as a standalone server or a Zope 3
 component. This server allows for people and resources to have individual and
 group calendars.
 .
 The calendars are:
  * Shareable
  * Overlayable
  * Access controllable
  * Importable and exportable to iCal clients
    (e.g. Apple's iCal or Mozilla Sunbird)
 .
 And will:
  * Time zone aware
  * Provide resource rooking
  * Do anything else that makes sense
 .
 All of this is accessible through a web interface which is simple,
 powerful and beautiful.
 .
 For developers SchoolBell offers:
  * Re-usable calendaring Zope 3 components.
  * iCal parser.
  * Rigourous functional and unit testing.
 .
 Enjoy!
 .
 This package contains the SchoolBell python module. (And, temporarily, quite a
 bit of Zope 3.1 development trunk until Zope 3.1 is packaged. This package
 will then become arch-indep and move to a new nameing scheme.)
 .
 Homepage: http://www.schooltool.org/schoolbell
