#!/usr/bin/make -f

datagen_seed = schooltool-m4

build: build-stamp

build-stamp:
	dh_testdir
	$(MAKE)
	(cat debian/import-sampleschool.head && \
	 sed -ne '/^# -- Do not remove this line --$$/,$$p' \
	     import-sampleschool.py) > debian/import-sampleschool
	chmod 755 debian/import-sampleschool
	touch build-stamp

clean::
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp debian/import-sampleschool
	-$(MAKE) realclean
	dh_clean

install: install-stamp

install-stamp: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# what about ZConfig/doc/schema.dtd? zconfig.pdf?
	cd src && \
	find \( -name tests -o -name ftests -o -name clients \) -prune -o \
	     \( -name '*.py' -o -name '*.so' -o -name '*.pt' -o \
	        -name '*.xml' -o -name '*.rng' -o -name '*.png' -o \
		-name '*.xpm' \) \
	     -exec install -m 644 -D -p {} \
		../debian/schooltool-server/usr/lib/schooltool-server/{} \;

	rm -f debian/schooltool-server/usr/lib/schooltool-server/trace.py

	cd src && \
	find zope/interface schooltool/clients \
	     \( -name 'tests' -o -name 'ftests' \) -prune -o\
	     \( -name '*.py' -o -name '*.so' -o -name '*.pt' -o -name '*.xml' \
	        -o -name '*.rng' -o -name '*.png' -o -name '*.xpm' \) \
	     -exec install -m 644 -D -p {} \
		../debian/schooltool-clients/usr/lib/schooltool-clients/{} \;
	for fn in schooltool/__init__.py \
	          schooltool/common.py \
	          schooltool/interfaces.py \
	          schooltool/unchanged.py \
	          schooltool/uris.py \
	          schooltool/translation/__init__.py \
	          zope/__init__.py; \
	do \
	    install -m 644 -D -p src/$$fn \
		debian/schooltool-clients/usr/lib/schooltool-clients/$$fn; \
	done

	install -m 755 -D -p debian/schooltool-server.py \
		debian/schooltool-server/usr/bin/schooltool-server; \
	for p in schooltool-client wxschooltool import-sampleschool; do \
	    install -m 755 -D -p debian/$$p \
		    debian/schooltool-clients/usr/bin/$$p; \
	done

	install -m 644 -D -p debian/schooltool.conf \
	    debian/schooltool-server/etc/schooltool.conf
	install -m 644 -D -p debian/example.conf \
	    debian/schooltool-server/usr/share/doc/schooltool-server/examples/schooltool.conf

	install -m 644 -D -p ttconfig.data \
	    debian/schooltool-clients/usr/share/schooltool-clients/sampleschool/ttconfig.data

	dir=$$PWD \
	    && cd debian/schooltool-clients/usr/share/schooltool-clients/sampleschool/ \
	    && PYTHONPATH=$$dir/src \
	       python $$dir/src/schooltool/clients/datagen.py $(datagen_seed)

	touch install-stamp

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installinit
	dh_installman
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_python
	dh_installdeb

	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install
