/*
 * Stylesheet for SchoolTool
 *
 * Aesthetic styling
 *
 * Most CSS is inherited from schoolbell/app/browser/resources/style.css
 *
 */

div.hr {
    clear: both;
}

div.hr hr {
    display: none;
}

.section {
    margin: 0.5em;
    background: #eae8e3;
    padding: 2px;
    border: 1px #999 solid;
}

.instructor {
    float: left;
    text-align: center;
}

.instructor img {
    background: #d6d6d6;
    padding: 2px;
    border: 1px #999 solid;
}

/* This overrides schoolbell's style.css */
#header .logo {
    height: 60px;
    padding: 5px;
    vertical-align: middle;
}

/* Terms */

table.schooldaymodel {
    width: 90%;
    margin-bottom: 0.5ex;
}

table.schooldaymodel tr.legend td {
    text-align: center;
}
table.schooldaymodel tr.legend td.legend {
    text-align: left;
    padding-left: 0;
}
table.schooldaymodel td.holiday {
    color: red;
    background: #eeeeee;
    font-weight: bold;
}
table.schooldaymodel td.schoolday {
    color: black;
    background: #eeeeee;
    font-weight: normal;
}
table.schooldaymodel td {
    background: transparent;
    text-align: right;
    padding: 0ex 1ex;
}
table.schooldaymodel td label {
    display: inline;
    font-weight: inherit;
    float: none;
    width: auto;
    color: inherit;
}

/* Forms beautification for ttschema wizard */
p.hint {
    font-size: 80%;
    font-style: italic;
    color: #bab5ab;
}


div.label {
    float: left;
    width: 10em;
    padding-top: 0.5ex;
}

table.timetable input.text {
    width: 7em;
}
